<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>BLOGe</h1>      
    <p>This is the mlemest bloge place . Henlo mlem hoomans . Welcome to moii bloge. raawoo raawwwo</p>
    <ul class="hmenu">
  <%= render 'devise/menu/registrations' %>
  <%= render 'devise/menu/login_items' %>
</ul>

  </div>
</div>
  
<%= yield %>
  </body>
</html>
