<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width = devise-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="two" >
      <h1>BLOGe</h1>      
    <p>Welcome to BLOGe . Share your ideas and scribble all you feel like and let the world know .</p>
    
    </div>
    <div class ="two">
      <ul class="hmenu">
      <%= render 'devise/menu/registrations' %>
      <%= render 'devise/menu/login_items' %>
     </ul>
    </div>  


  </div>
</div>
  
<%= yield %>
  </body>
</html>
